* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background: rgb(34,73,127); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(34,73,127,1) 0%, rgba(53,102,198,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,73,127,1)), color-stop(100%,rgba(53,102,198,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,73,127,1) 0%,rgba(53,102,198,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,73,127,1) 0%,rgba(53,102,198,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,73,127,1) 0%,rgba(53,102,198,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(34,73,127,1) 0%,rgba(53,102,198,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22497f', endColorstr='#3566c6',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
	font-size: 125%;
}

.container {
	background: #fff;
	margin: 0 auto;
	padding: 10px;
}

#header {
	overflow: auto;
	padding: 0;
}

#topImage {
	background-image: url("../images/background.jpg");
	background-position: bottom center;
	background-size: cover;
	height: 100px;
	padding: 0 0 0 10px;
}

#topImage h1 {
	margin: 0;
	background: rgba(255,0,0,0.9);
	color: #fff;
	padding: 10px 15px;
	font-size: 100%;
	font-family: 'Courgette', sans-serif;
}

#emp {
	color: #9c2b2b;
}

#logo {
	background-color: #fff;
	padding: 20px;
}

#logo h1 {
	font-size: 125%;
	margin: 0;
	font-family: 'Crete Round', serif;
	font-style: italic;
}

#title {
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

#footer a {
	color: #fff;
}

#footer p {
	margin: 0;
}

.content {
	padding: 0 20px;
}

.content h2, #sidebar h2 {
	color: rgba(53,102,198,1);
	font-family: 'Crete Round', serif;
	margin-top: 10px;
	margin-bottom: 5px;
}

.content p {
	line-height: 125%;
	margin-top: 0;
	margin-bottom: 15px;
}

#make-red {
	color: #cd1515;
}

#pull-quote1 {
	background-color: rgba(34,73,127,1);
	color: #e5f1ff;
	padding: 10px;
	border-left: 5px solid #cd1515;
	background-image: url("../images/terrain.jpg");
	background-size: cover;
	background-position: bottom center;
}

#pull-quote2 {
	background-color: #712727;
	color: #e5f1ff;
	padding: 10px;
	border-left: 5px solid #5984c1;
	background-image: url("../images/house.jpg");
	background-size: cover;
	background-position: bottom center;
}

#pull-quote1 h2 {
	color: #fff;
	margin: 20px 0;
	font-style: normal;
	margin: 0px;
}

#pull-quote1, #pull-quote2 {
	margin: 0;
}

#pull-quote1 h2, #pull-quote2 h2 {
	margin-bottom: 15px;
	color: #fff;
}

#body {
	padding: 0;
	background: #e2eff5;
}

.content a, #sidebar a {
	color: #436eab;
	text-decoration: none;
}

#sidebar p {
	margin: 0 0 15px 0;
	line-height: 125%;
}

#left {
	background: #fff;
	overflow: auto;
}



#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav ul li {
	margin: 0;
}

#nav ul li a {
	text-decoration: none;
	display: block;
	width: 100%;
	background: #e2eff5;
	padding: 15px 20px;
	color: #3a629a;
	font-weight: bold;
	border-bottom: 1px solid #b7ccd6;
}

#donate-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background-color: rgba(25,47,78,0.95);
	color: #fff;
	text-align: center;
	font-size: 100%;
	padding: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#donate-modal.open {
	top: 0;
}

#donate-modal a {
	color: #eff8ff;
	text-decoration: underline;
	position: relative;
}

#valign {
	position: relative;
	font-family: 'Crete Round', serif;
	top: 30%;
	transform: translateY(-50%);
}

#close-box {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
}

.item-image {
	width: 46%;
	float: left;
	border: 1px solid #a1a1a1;
	overflow: hidden;
	margin: 2%;
}

.item-image img {
	max-width: 100%;
	margin: 0;
}

.item-price, .item-name {
	color: rgb(25,47,78);
	text-align: center;
	font-size: 80%;
	margin: 0;
}

.item-price {
	margin-bottom: 5px;
}

.item-name {
	font-weight: bold;
}

form {
	text-align: center;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	border-width: 0;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-bottom: 15px;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

#right {
	padding: 0 15px;
}

@media (min-width: 1081px) {
	body {
		font-size: 100%;
	}
	
	.container {
		max-width: 1140px;
	}

	#topImage {
		height: 200px;
	}
	
	#body {
		overflow: auto;
	}

	#left {
		float: left;
		width: 80%;
	}

	#right {
		float: right;
		width: 20%;
		padding: 0 10px;
	}

	#topImage h1 {
		font-size: 200%;
	}

	#pull-quote1, #pull-quote2 {
		padding: 140px 10px 10px 20px;
	}

	#logo {
		float: left;
	}

	#nav {
		margin-right: 15px;
	}

	#nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;
	}

	#nav ul li {
		margin: 0 0 0 10px;
		float: left;
	}

	#nav ul li a {
		background-color: transparent;
		border: none;
		position: relative;
		top: 45px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	#nav ul li a:hover {
		background: #6394da;
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	#nav ul li:last-child a {
		background-color: rgba(189,22,22,0.95);
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	#nav ul li:last-child a:hover {
		background-color: rgba(129,13,13,0.95);
	}

	.item-image {
		width: 29%;
		margin: 2%;
	}
	#donate-modal {
		font-size: 200%;
	}
	#donate-modal p {
		margin: 0 auto;
		max-width: 60%;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }